@model IOTply.Controllers.HomeController.ModelCollection
@{
    ViewData["Title"] = "IndiStatics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-primary empat">Employee Attendance</h3>
            @if (Model.list.Count() > 0)
            {
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Arrival Time</th>
                            <th scope="col" class="text-center">Temperature</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.list)
                        {
                            <tr>
                                @if (item.TempStatus == "High")
                                {
                                    <td class="text-danger font-weight-bold">@item.Time</td>
                                    <td class="text-center text-danger font-weight-bold">@item.Temperature</td>
                                }
                                else
                                {
                                    <td>@item.Time</td>
                                    <td class="text-center">@item.Temperature</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="border">
                        <div class="unusual-content form-group">
                            <h5 class="text-primary">Employee Details</h5>
                            @foreach (var item in Model.emplist)
                            {
                                <h6 class="text">Name: @item.EmpName</h6>
                                <h6 class="text">Email: @item.Email</h6>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="border">
                        <div class="unusual-content form-group">
                            <h5 class="text-primary">Highest Temperature</h5>
                            <h6 class="text-danger">Date: @Model.date</h6>
                            <h6 class="text-danger">Temperature: @Model.maxtemp</h6>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="ml-5 mt-5 homepichart">
                    <h4 class="text-center mt-2 mb-4">Last 30 Days Attendance Rates</h4>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //setup block

    const data = {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };

    //options block

    const options = {
        plugins: {
            legend: {
                display: false
            }
        }
    };

    //config block

    const config = {
        type: 'pie',
        data,
        options
    };

    //render block

    const myChart = new Chart(
        document.getElementById("myChart"),
        config
    );
</script>